:host{
  width: 100%;
}

a {
  border: 1px solid #B6BBC475;
  display: flex;
  gap: 8px;
  height: min-content;
  width: 100%;
  display: flex;
  padding: 16px;
  color: #ffffff;
  transition: all 150ms ;
}

a:hover{
  background-color: #ffffff25;
}