<a class="returnButton" routerLink="/">Volver</a>
<div class="gameContainer" *ngIf="game">
  <div>
    <span>Id: </span>
    <span>{{game.id}}</span>
  </div>
  <div>
    <span>
      Titulo:
    </span>
    <span>
      {{game.titulo}}
    </span>
  </div>
  <div>
    <span>
      Compañia:
    </span>
    <span>
      {{game.compania}}
    </span>
  </div>
  <div>
    <span>
      Valoración Media
    </span>
    <span>
      {{game.valoracionMedia}}
    </span>
  </div>
  <div>
    <img [src]="'/assets/img/' + game.imagen" alt="">
  </div>
</div>
<div *ngIf="!game">
  Juego no encontrado
</div>