<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link th:href="@{/styles/general.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/styles/header.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<header id="header" style="background-color: red;">
		<div>Logo</div>
		<div class="events-filters">
			<ul>
				<li>
					<span>Eventos</span>
				</li>
				<li>
					<div>
						<a href="">Destacados</a>
					</div>
					<div>
						<a href="">Activos</a>
					</div>
				</li>
				<li>
					<select>
						<option value="0" disabled>Tipo de evento</option>
						<option value="1">Conciertos</option>
						<option value="2">Teatro</option>
						<option value="3">Deportes</option>
						<option value="4">Festivales</option>
					</select>
				</li>
			</ul>
		</div>
		<div class="navbar">
			<nav>
				<ul>
					<li>
						<a href="">Mis Reservas</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="user-options">
			<div>
				<a href="">Login</a>
				<a href="">Register</a>
			</div>
			<div>
				<div>
					<span>Bienvenido, </span>
					<span>Nombre</span>
				</div>
				<div>
					<a href="">Cerrar sesión</a>
				</div>
			</div>
		</div>
	</header>
</body>

</html>