<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link th:href="@{/styles/general.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/styles/header.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<header class="w-full flex gap-30 flex-between bg p-20">
		<div class="flex-item-center flex h-full">
			<a th:href="@{/}">github.com/zenix-s</a>
		</div>
		<div class="flex flex-grow flex-item-center gap-10">
			<h2>Eventos</h2>
			<nav class="w-full">
				<ul class="flex h-full flex-item-center gap-10 w-full">
					<li class="flex flex-column">
						<a class="button" th:href="@{/eventos/destacados}">Destacados</a>
						<a class="button" th:href="@{/eventos/activos}">Activos</a>
					</li>
					<li>
						<select class="button" id="typeFilter">
							<option value="0">Todos</option>
							<option th:each="tipo : ${tipos}" th:value="${tipo.idTipo}" th:text="${tipo.nombre}"></option>
						</select>
					</li>
					<li sec:authorize="isAuthenticated()">
						<a class="button" th:href="@{/eventos/misReservas}">Mis Reservas</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="flex h-full flex-item-center">
			<div sec:authorize="!isAuthenticated()" class="flex gap-10">
				<a th:href="@{/login}">Login</a>
				<a th:href="@{/registro}">Register</a>
			</div>
			<div class="flex h-full flex-item-center gap-10" sec:authorize="isAuthenticated()">
				<div>
					<span>Bienvenido, </span>
					<span sec:authentication="name"></span>
				</div>
				<div>
					<a class="button" th:href="@{/logout}">Cerrar sesión</a>
				</div>
			</div>
		</div>
	</header>
	<section id="toaster" class="flex flex-column">
		
		<!-- always show message -->

		<div id="succes-message" class="bg-green" th:classappend="${successMessage != null ? 'flex' : 'hidden'}">
			<span id="message" class="flex-grow" th:text="${successMessage}"></span>
			<button class="p-10 bg-transparent border-2-black cursor-pointer" onclick="document.getElementById('succes-message').style.display = 'none'">
				X
			</button>
		</div>

		<div id="error-message" class="bg-red" th:classappend="${errorMessage != null ? 'flex' : 'hidden'}">
			<span id="message" class="flex-grow" th:text="${errorMessage}"></span>
			<button class="p-10 bg-transparent border-2-black cursor-pointer"  onclick="document.getElementById('error-message').style.display = 'none'">
				X
			</button>
		</div>

	</section>
	<main>
		<table id="eventos">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Aforo</th>
					<th>Fecha Inicio</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody id="eventos-table-body">
				<tr th:each="evento : ${eventos}">
					<td class="hidden" th:text="${evento.tipo.idTipo}"></td>
					<td th:text="${evento.nombre}"></td>
					<td th:text="${evento.aforoMaximo}"></td>
					<td th:text="${evento.fechaInicio}"></td>
					<td>
						<a class="button color-black" th:href="@{/eventos/verUno/{id}(id=${evento.idEvento})}">Ver Detalle</a>
					</td>
				</tr>
		</table>
	</main>
	<script>
		const typeFilter = document.getElementById('typeFilter');
		const eventosTableBody = document.getElementById('eventos-table-body');

		typeFilter.addEventListener('change', (e) => {
			const selectedType = e.target.value;
			const eventos = document.querySelectorAll('#eventos tbody tr');
			eventos.forEach(evento => {
				const tipo = evento.querySelector('td').textContent;
				if (tipo !== selectedType && selectedType !== '0') {
					evento.style.display = 'none';
				} else {
					evento.style.display = 'table-row';
				}
			});
		});




		
	</script>
</body>

</html>