*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section{
  border: 1px solid black;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section > form{
  background-color: rgb(226, 236, 252);
}

form{
  width: 50%;
  min-width: 250px;
  max-width: 450px;
}



.inputtextContainer{
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.inputtextContainer > label{
  position: absolute;
  top: 25px;
  left: 5px;
  cursor: text;
  user-select: none;
  transition: 200ms ease-in-out;
}

.inputtextContainer > input{
  outline: none;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid black;
}
.inputtextContainer > input:focus~label,
  .inputtextContainer > input:where(:not(:placeholder-shown))~label{
  top: 2px;
}