<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link th:href="@{/styles/general.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/styles/navBar.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div>
		<div>
			<p th:text="${error}"></p>
		</div>
		<form th:action="@{/logidacc}" method="post">
			<div>
				<label>
					Introduce el id de la cuenta
				</label>
				<input type="text" name="idCuenta" placeholder="id Cuenta" required pattern="[0-9]+"
					title="N digitos entre 0-9" />
			</div>
			<input type="submit" value="Cargar" />
		</form>
	</div>

</body>

</html>