<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link th:href="@{/styles/general.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/styles/navBar.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<header id="navBar">
		<nav>
			<ul>
				<li>
					<a th:href="@{/cuenta}">
						Inicio
					</a>
				</li>
				<li>
					<a th:href="@{/cuenta/movimientos}">
						Movimientos
					</a>
				</li>
				<li>
					<a th:href="@{/cuenta/ingresar}">
						Ingresar
					</a>
				</li>
				<li>
					<a th:href="@{/cuenta/extraer}">
						Extraer
					</a>
				</li>
				<li>
					<a class="activeNavTab" th:href="@{/cuenta/transferencia}">
						Trasferencia
					</a>
				</li>
				<li>
					<a th:href="@{/endidacc}">
						Salir
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<div>
		<p>Cuenta: <span th:text="${idCuenta}"></span></p>
		<p>Saldo cuenta: <span th:text="${cuenta.saldo}"></span></p>
	</div>
	<section>
		<form th:action="@{/cuenta/transferencia}" method="post">
			<div>
				<label>
					Cuenta de destino
				</label>				
				<input type="text" name="destAcc" placeholder="id Cuenta Destino"/>
			</div>	
			<div>
				<label>
					Introduce la cantidad
				</label>				
				<input type="text" name="saldo" placeholder="Saldo"/>
			</div>	
			<input type="submit" value="Transferir"/>
		</form>
	</section>
</body>

</html>