<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Aplicacion de clientes: Cambiar datos del Cliente</h1>
	<!--  <form th:action="@{/clientes/editar/{id}(id=${cliente.idCliente})}" method="post">-->
		<form th:action="@{/clientes/editar/{id}(id=${cliente.idCliente})}" th:object="${cliente}" method="post">
		
		<div>
			<label>Nombre</label>
			<input type="text" name="nombre" th:value="${cliente.nombre}">
		</div>
		<div>
			<label>numeroEmpleados</label>
			<input type="text" th:field="*{cantidadEmpleados}">
		</div>
		<div>
			<label>facturacionAnual</label>
			<input type="text" th:field="*{facturacionAnual}">
		</div>
		<div>
			<label>fechaCreacion</label>
			<input type="date" th:field="*{fechaCreacion}">
		</div>
		
		<div>
			<input type="submit" value="Enviar"></div>
		
	</form>
</body>
</html>