.articulos {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  padding: 32px 32px;
}

.articulos .filtros {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
}

.articulos .sub-filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.articulos .title {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.articulos .text-wrapper {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--collection-1-textblack);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.articulos .option {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.articulos .ellipse {
  width: 16px;
  height: 16px;

  background-color: #d9d9d9;
  border-radius: 8px;
}

.articulos-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 64px;
}