:root{
  --primary_color: #B2E7D5;
  --secondary_color: #BAD2E7;
  --accent_color: #CAFFCA;
  --base_color: #FFFFFF; 
  --base25: #22222225;
  --base75: #222222bc;
  --base100: #222222;
  --text_white: #ffffff;
  --text_black: #000000;
  --text_grey_clear: #cccccc;
  --text_grey_dark: #333333;
  --success_color: #6BE96B;
  --info_color: #A0D5F2;
  --warning_color: #FFAE2D;
  --error_color: #FF6767;
}