.header
{
  background-color: var(--base_color);
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}
.headerLogo{
  height: 72px;
  width: 72px;
}
.headerLogo > a{
  display: flex;
  width: 100%;
  height: 100%;
}
.headerNavContainer > nav{
  height: 100%;
}
.headerNavContainer > nav > ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 16px;
  gap: 32px;
}
.headerNavContainer > nav > ul > li{
  height: 100%;
  width: 136px;
  border-radius: 8px;
  background-color: var(--primary_color);
}
.headerNavContainer > nav > ul > li > a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerUser{
  height: 72px;
  width: 72px;
  border-radius: 50%;
}