@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	width: 600px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input[type="text"],
input[type="number"],
input[type="submit"],
textarea,
select {
	width: 100%;
	background-color: transparent ;
}
.buttonContainer{
	padding: 20px 0px;	
}
.button{
	height: 100%;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	border: 2px solid #505983;
	text-decoration: none;
	justify-content: center;
	color: #dadce2;
	transition: all 0.3s ease;
}

.button:hover{
	background-color: #505983;
	color: white;
}

body {
	padding: 15px;
	gap: 5px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	flex-grow: 1;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	height: min-content;
	color: black;
}

table {
	width: 100%;
	overflow-x: auto;
	border-collapse: collapse;
}

thead {
	background-color: #818ab1;
	color: white;
}

td,
th {
	border: 2px solid #818ab1;
	text-align: center;
	padding: 5px 10px;
}

.bg{
	background-color: #818ab1;
}

.bg-green{
	background-color: #4CAF50;
}

.bg-red{
	background-color: #f44336;

}

.bg-transparent{
	background-color: transparent;
}

.hidden{
	display: none;
}

.flex {
	display: flex;
}

.flex-between {
	justify-content: space-between;
}

.flex-center {
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.flex-around {
	justify-content: space-around;
}

.flex-item-center {
	align-items: center;
}


.gap-10 {
	gap: 10px;
}

.gap-20 {
	gap: 20px;
}

.gap-30 {
	gap: 30px;
}

.flex-grow {
	flex-grow: 1;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.p-10{
	padding: 10px;
}

.p-20{
	padding: 20px;
}

.px-10 {
	padding: 0 10px;
}

.color-black {
	color: black;
}

.border-1-black {
	border: 1px solid black;
}

.border-2-black {
	border: 2px solid black;
}

.rounded-10{
	border-radius: 10px;
}

.cursor-pointer{
	cursor: pointer;
}

.bold {
	font-weight: bold;
}