<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Eventos</h1>
	
	<div>
		<!--visualización de los eventos-->
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th colspan="3">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="evento : ${eventos}">
					<td th:text="${evento.idEvento}"></td>
					<td th:text="${evento.nombre}"></td>
					<td th:text="${evento.precio}"></td>
					<td><a th:href="@{/events/editar/{id}(id=${evento.idEvento})}">Editar</a></td>
					<td><a th:href="@{/events/eliminar/{id}(id=${evento.idEvento})}">Eliminar</a></td>
					<td><a th:href="@{/events/cancelar/{id}(id=${evento.idEvento})}">Cancelar</a></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>