<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link th:href="@{/styles/general.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/styles/navBar.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header id="navBar">
		<nav>
			<ul>
				<li>
					<a  th:href="@{/cliente}">
						Clientes
					</a>
				</li>
				<li>
					<a th:href="@{/comercial}">
						Comerciales
					</a>
				</li>
				<li>
					<a class="activeNavTab" th:href="@{/pedido}">
						Pedidos
					</a>
				</li>
				<li>
					<a th:href="@{/endidacc}">
						Salir
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<h2>Hola</h2>
	<h1 th:text="${mensaje}"></h1>
	<table border="1">
		<thead>
			<tr>
				<th>id</th>
				<th>fecha</th>
				<th>total</th>
				<th>id cliente</th>
				<th>id comercial</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cl : ${pedidos}">
				<td th:text="${cl.idPedido}"></td>
				<td th:text="${#dates.format(cl.fecha, 'dd-MM-yyyy')}"></td>
				<td th:text="${cl.total}"></td>
				<td th:text="${cl.cliente.idCliente}"></td>
				<td th:text="${cl.comercial.idComercial}"></td>
				<td><a th:href="@{/pedido/eliminar/{id}(id=${cl.idPedido})}">Borrar</a></td>
				
			</tr>

		</tbody>
	</table>
</body>
</html>